@import "tailwindcss";

@theme {
  --font-nanum-square: "NanumSquare";
  --font-santokki: "HSSantokki";

  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-500: #64748b;
  --color-slate-400: #94a3b8;
  --color-slate-300: #cbd5e1;
  --color-slate-200: #e2e8f0;
  --color-slate-100: #f1f5f9;

  --color-violet-600: #7c3aed;
  --color-violet-100: #ede9fe;

  --color-rose-500: #f43f5e;
  --color-lime-300: #bef264;
  --color-amber-800: #92400e;

  --breakpoint-3xl: 120rem;
}

@font-face {
  font-family: "NanumSquare";
  src: url("./NanumSquareR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HSSantokki";
  src: url("./HSSantokki-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .font-santokki {
    font-family:
      var(--font-santokki),
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Apple SD Gothic Neo",
      "Noto Sans KR",
      sans-serif;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family:
    var(--font-nanum-square),
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    sans-serif;
}
